<div class="results-block mb-1">
  <%= render 'layouts/messages' %>
</div>

<% if @friend %>
  <div class="card card-header results-block mb-1">
    <strong>Name:</strong><%= @friend %>
    <strong>email:</strong><%= @friend%>
    <%= link_to 'Add to friends', "#",
                                  class: "btn btn-success", method: :post %>
  </div>
<% end %>
