<div class="results-block mb-1">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header results-block mb-1">
    <strong>Symbol:</strong><%= @stock.ticker %>
    <strong>Name:</strong><%= @stock.name %>
    <strong>Price:</strong><%= @stock.last_price %>
  </div>
<% end %>
